<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="loginPage">
    <form action="/signup" method="post"><div class="userForm">
        <input class="loginInput" type="text" id="name" name="name" placeholder="Enter name...">
        <input class="loginInput" type="text" id="email" name="email" placeholder="Enter e-mail...">
        <input class="loginInput" type="password" id="password" name="password" placeholder="Enter password...">
        <button class="loginButton" type="submit">Signup</button>
    </div> </form>
    <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</body>
</html>