<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=name%></h1>
    <h2><%=email%></h2>
    <a href="/<%=_id%>/editProfile">Edit Profile</a>
    <a href="/<%=_id%>/changePassword">Change Password</a>
</body>
</html>